 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.copyright{
    color: white;
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
}


input.invalid-search{
    border: 5px solid red;
}


.loading{
    display: none;
    text-align: center;
    color: white;
    margin: 40px 20px 0;
}
.loading .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255,255,255,0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    margin: 0 auto 10px;

    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading p{
    margin-top: 20px;
    font-size: 20px;
}

@media (hover: hover) {
    .button-search:hover {
        background-color: black;
        color: white;
    }
}

/* responsive mobile */
@media (max-width: 415px){

    .error-message{
        text-align: center;
        font-size: 20px;
        color: white;
        margin: 0 30px;
    }

    .container-header{
        margin: 0;
        margin-bottom: 30px;
    }
    .header-main{
        height: 80px;
        color: whitesmoke;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 25px;
    }

    .cloud{
        display: none;
    }
    .header-search{
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-search{ 
        width: 230px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 5px 0px 5px 20px;
    }
    .button-search{
        height: 50px;
        width: 90px;
        margin-left: 20px;
        border-radius: 10px;
        border: none;
        padding: 0 20px;
        font-size: 17px;
        color: black;
    }
    .container-header .header-search .button-search:active{
        background-color: yellow;
        color: black;
        border: 1px dashed black;
    }
    .container-header .header-search .button-search::after{
        background-color: white;
        color: black;
        border: none;
    }
    /* current info date time */

    .current-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        
    }
    .city-name-header{
        flex: 1;
        margin-right: 20px;
        text-align: end;
        /* width: 100%; */
    }
    .city-name-header .city-name{
        color: white;
        font-size: 20px;
        
    }

    .date-time{
        flex: 1;
        color: white;
        margin-left: 25px;
    }
    .date-time .time{
        margin: 2px;
        font-size: 30px;
    }
    .date-time .date{
        font-size: 17px;
    }

    /* current weather dashboard */

    .current-weather-info{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        flex-direction: column;
        /* margin-top: 50px; */
    }
    .current-weather-box{
        border: 1px solid white;
        background-color: rgba(24, 24, 27, 0.5);
        color: white;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 300px;
    }
    .current-weather-box .essential{
        display: flex;
        justify-content: space-around;
        padding: 5px;
        /* margin-right: 10px; */
    }

    .current-weather-box .weather-items{
        text-align: center;
        margin: 5px;
    }
    .current-weather-box .weather-items div{
        font-weight: bold;
    }

    /* current weather cards */
    
   .section-grid{
        display: grid;
        justify-content: center;
        align-items: center; 
        gap: 20px;
        margin: 50px 0;
    }

    .section-grid .grid{
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgba(24,24,27,0.5);
        color: white;
        text-align: center;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

/* forcast weather section */

    
    .container-future-forcast .weather-today-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today{
        display: grid;
        grid-template-columns: .1fr .5fr;
        background-color: rgba(24, 24, 27, 0.8);
        color: white;
        width: 335px;
        height: 250px;
        border-radius: 20px;
        border: 3px solid white;
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain{
        display: flex;
        grid-template-rows: .6fr .5fr;
        /* gap: 10px; */
        justify-content: center;
        align-items: center; 
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain p{
        text-align: center;
        font-size: 18px;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain img{
        width: 100px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 20px;
        padding-right: 10px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today .day{
        font-size: 21px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 160px;
        height: 37px;
        text-align: center;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today p{
        font-size: 17px;
    }

    .future-forcast-grid{
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
    }
    .container-future-forcast .future-forcast-grid .cards{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(24,24,27,0.8);
        color: white;
        width: 300px;
        height: 170px;
        border: 3px solid white;
        border-radius: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content{
        padding: 10px 9px 10px 0;
        gap: 10px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content img{
        width: 90px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .image-contain p{
        font-size: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .day{
        margin-bottom: 7px;
        font-size: 20px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 100px;
        height: 28px;
        text-align: center;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
}

@media (min-width: 416px) and (max-width: 500px){
    .error-message{
        text-align: center;
        font-size: 25px;
        color: white;
        margin: 20px 40px;
    }

    .container-header{
        margin: 0;
        margin-bottom: 40px;
    }
    .header-main{
        height: 80px;
        color: whitesmoke;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 25px;
    }

    .cloud{
        position: absolute;
        top: 19vh;
        right: 20px;
    }
    .header-search{
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-search{ 
        width: 250px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 5px 0px 5px 20px;
    }
    .button-search{
        height: 50px;
        margin-left: 20px;
        border-radius: 10px;
        border: none;
        padding: 0 20px;
        font-size: 15px;
        font-weight: 700;
        color: grey;
    }
    .container-header .header-search .button-search:active{
        background-color: yellow;
        color: black;
        border: 1px dashed black;
    }
    .container-header .header-search .button-search::after{
        background-color: white;
        color: black;
        border: none;
    }

    /* current info date time */

    .current-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
    }
    .city-name-header{
        margin-right: 15px;
    }
    .city-name-header #code{
        font-size: 20px;
    }
    .city-name-header .city-name{
        color: white;
        font-size: 20px;
        text-align: end;
        flex-wrap: wrap;
    }

    .date-time{
        color: white;
        margin-left: 20px;
    }
    .date-time .time{
        margin: 2px;
        font-size: 40px;
    }
    .date-time .date{
        font-size: 20px;
    }

    /* current weather dashboard */

    .current-weather-info{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        flex-direction: column;
        /* margin-top: 50px; */
    }
    .current-weather-box{
        border: 1px solid white;
        background-color: rgba(24, 24, 27, 0.5);
        color: white;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 300px;
    }
    .current-weather-box .essential{
        display: flex;
        justify-content: space-around;
        padding: 5px;
        /* margin-right: 10px; */
    }

    .current-weather-box .weather-items{
        text-align: center;
        margin: 5px;
    }
    .current-weather-box .weather-items div{
        font-weight: bold;
    }

    /* current weather cards */
    
   .section-grid{
        display: grid;
        justify-content: center;
        align-items: center; 
        gap: 20px;
        margin: 50px 0;
    }

    .section-grid .grid{
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgba(24,24,27,0.5);
        color: white;
        text-align: center;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

/* forcast weather section */

    
    .container-future-forcast .weather-today-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        background-color: rgba(24, 24, 27, 0.8);
        color: white;
        width: 400px;
        height: 250px;
        border-radius: 20px;
        border: 3px solid white;
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain{
        display: flex;
        grid-template-rows: .8fr .5fr;
        /* gap: 10px; */
        justify-content: center;
        align-items: center; 
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain p{
        text-align: center;
        font-size: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain img{
        width: 140px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 20px;
        padding-right: 25px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today .day{
        font-size: 22px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 160px;
        height: 37px;
        text-align: center;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today p{
        font-size: 20px;
    }

    .future-forcast-grid{
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
    }
    .container-future-forcast .future-forcast-grid .cards{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(24,24,27,0.8);
        color: white;
        width: 300px;
        height: 150px;
        border: 3px solid white;
        border-radius: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content{
        padding: 15px 6px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content img{
        width: 90px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .image-contain p{
        font-size: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .day{
        margin-bottom: 7px;
        font-size: 20px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 100px;
        height: 28px;
        text-align: center;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
}

@media (min-width: 501px) and (max-width: 700px){

    .error-message{
        text-align: center;
        font-size: 25px;
        color: white;
        margin: 40px 40px 0;
    }

    .container-header{
        margin: 0;
        margin-bottom: 40px;
    }
    .header-main{
        height: 80px;
        color: whitesmoke;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .cloud{
        position: absolute;
        top: 19vh;
        right: 20px;
    }
    .header-search{
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-search{ 
        width: 290px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 5px 0px 5px 20px;
    }
    .button-search{
        height: 50px;
        margin-left: 20px;
        border-radius: 10px;
        border: none;
        padding: 0 20px;
        font-size: 15px;
        font-weight: 700;
        color: grey;
    }
    .container-header .header-search .button-search:active{
        background-color: yellow;
        color: black;
        border: 1px dashed black;
    }
    .container-header .header-search .button-search::after{
        background-color: white;
        color: black;
        border: none;
    }

    /* current info date time */

    .current-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
    }
    .city-name-header{
        margin-right: 20px;
        width: 230px;
        text-align: end;
    }
    .city-name-header .city-name{
        color: white;
    }
    .city-name-header #code{
        font-size: 20px;
    }
    .city-name-header #place{
        font-size: 20px;
    }

    .date-time{
        color: white;
        margin-left: 40px;
    }
    .date-time .time{
        margin: 2px;
        font-size: 50px;
    }
    .date-time .date{
        font-size: 20px;
    }

    /* current weather dashboard */

    .current-weather-info{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        flex-direction: column;
        /* margin-top: 50px; */
    }
    .current-weather-box{
        border: 1px solid white;
        background-color: rgba(24, 24, 27, 0.5);
        color: white;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 300px;
    }
    .current-weather-box .essential{
        display: flex;
        justify-content: space-around;
        padding: 5px;
        /* margin-right: 10px; */
    }

    .current-weather-box .weather-items{
        text-align: center;
        margin: 5px;
    }
    .current-weather-box .weather-items div{
        font-weight: bold;
    }

    /* current weather cards */
    
   .section-grid{
        display: grid;
        justify-content: center;
        align-items: center; 
        gap: 20px;
        margin: 50px 0;
    }

    .section-grid .grid{
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgba(24,24,27,0.5);
        color: white;
        text-align: center;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

/* forcast weather section */

    
    .container-future-forcast .weather-today-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        background-color: rgba(24, 24, 27, 0.8);
        color: white;
        width: 400px;
        height: 250px;
        border-radius: 20px;
        border: 3px solid white;
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain{
        display: flex;
        grid-template-rows: .8fr .5fr;
        /* gap: 10px; */
        justify-content: center;
        align-items: center; 
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain p{
        text-align: center;
        font-size: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain img{
        width: 140px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 20px;
        padding-right: 25px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today .day{
        font-size: 22px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 160px;
        height: 37px;
        text-align: center;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today p{
        font-size: 20px;
    }

    .future-forcast-grid{
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
    }
    .container-future-forcast .future-forcast-grid .cards{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(24,24,27,0.8);
        color: white;
        width: 300px;
        height: 150px;
        border: 3px solid white;
        border-radius: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content{
        padding: 15px 6px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content img{
        width: 90px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .image-contain p{
        font-size: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .day{
        margin-bottom: 7px;
        font-size: 20px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 100px;
        height: 28px;
        text-align: center;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
}
/* responsive 601px to 1000px */

@media (min-width: 701px) and (max-width: 860px){

    .error-message{
        text-align: center;
        font-size: 30px;
        color: white;
        margin: 50px 10px 0;
    }

    .container-header{
        margin: 0;
        margin-bottom: 40px;
    }
    .header-main{
        height: 80px;
        color: whitesmoke;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .cloud{
        position: absolute;
        top: 20vh;
        right: 40px;
    }
    .header-search{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .input-search{
        flex: 4;
        max-width: 500px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 5px 0px 5px 30px;

        margin-left: 90px;
        margin-right: 20px;
    }
    .button-search{
        flex: 1;
        height: 48px;
        max-width: 90px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        font-weight: 700;
        color: grey;

        margin-right: 100px;
    }
    .container-header .header-search .button-search:active{
        background-color: yellow;
        color: black;
        border: 1px dashed black;
    }
    .container-header .header-search .button-search::after{
        background-color: white;
        color: black;
        border: none;
    }

    /* current info date time */

    .current-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        margin-bottom: 20px;
    }
    .city-name-header{
        margin-right: 40px;
    }
    .city-name-header #code{
        font-size: 30px;
    }
    .city-name-header .city-name{
        color: white;
        font-size: 25px;
        text-align: end;
    } 

    .date-time{
        color: white;
        margin-left: 70px;
    }
    .date-time .time{
        margin: 2px;
        font-size: 50px;
    }
    .date-time .date{
        font-size: 20px;
    }

    /* current weather dashboard */

    .current-weather-info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 20vh;
        flex-direction: column;
        margin-left: 70px;
        height: 50vh;
        margin-bottom: 20px;
        
    }
    .current-weather-box{
        border: 1px solid white;
        background-color: rgba(24, 24, 27, 0.5);
        color: white;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 300px;
        /* height: auto; */
    }
    .current-weather-box .essential{
        display: flex;
        justify-content: space-around;
        padding: 5px;
        /* margin-right: 10px; */
    }

    .current-weather-box .weather-items{
        font-size: 20px;
        text-align: center;
        padding: 5px;
        flex: 1;
        max-width: 500px;
        
    }

    /* current weather cards */
    
    .section-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        height: 120px;
        margin: 50px;
        justify-items: center;
    }
    .section-grid .grid{
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgba(24,24,27,0.5);
        color: white;
        text-align: center;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* forcast weather section */

    .container-future-forcast .weather-today-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        background-color: rgba(24, 24, 27, 0.8);
        color: white;
        width: 400px;
        height: 200px;
        border-radius: 20px;
        border: 3px solid white;
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain{
        display: grid;
        grid-template-rows: .8fr .5fr;
        justify-content: center;
        align-items: center; 
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain img{
        width: 130px;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain p{
        text-align: center;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 10px;
        /* padding-right: 30px; */
        padding: 20px 30px 0 0;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today .day{
        font-size: 22px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 160px;
        height: 37px;
        text-align: center;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today p{
        font-size: 20px;
    }

    .container-future-forcast .future-forcast-grid{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    .container-future-forcast .future-forcast-grid .cards{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(24,24,27,0.8);
        color: white;
        width: 100%;
        height: 180px;
        /* padding: 0 20px; */
        border: 3px solid white;
        border-radius: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .day{
        margin-bottom: 7px;
        font-size: 20px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 100px;
        height: 28px;
        text-align: center;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content{
        padding: 6px 20px;
    }
}

/* responsive 701px to 860px */

@media (min-width: 861px) and (max-width: 1030px){

    .error-message{
        text-align: center;
        font-size: 30px;
        color: white;
        margin: 60px 30px 0;
    }

    .container-header{
        margin: 0;
        margin-bottom: 40px;
    }
    .header-main{
        height: 80px;
        color: whitesmoke;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .cloud{
        position: absolute;
        top: 20vh;
        right: 40px;
    }
    .header-search{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .input-search{
        flex: 4;
        max-width: 500px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 5px 0px 5px 30px;

        margin-left: 90px;
        margin-right: 20px;
    }
    .button-search{
        flex: 1;
        height: 48px;
        max-width: 90px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        font-weight: 700;
        color: grey;

        margin-right: 100px;
    }
    .container-header .header-search .button-search:active{
        background-color: yellow;
        color: black;
        border: 1px dashed black;
    }
    .container-header .header-search .button-search::after{
        background-color: white;
        color: black;
        border: none;
    }

    /* current info date time */

    .current-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        margin-bottom: 20px;
    }
    .city-name-header{
        margin-right: 40px;
    }
    .city-name-header #code{
        font-size: 30px;
    }
    .city-name-header .city-name{
        color: white;
        font-size: 25px;
        text-align: end;
    } 

    .date-time{
        color: white;
        margin-left: 70px;
    }
    .date-time .time{
        margin: 2px;
        font-size: 50px;
    }
    .date-time .date{
        font-size: 20px;
    }

    /* current weather dashboard */

    .current-weather-info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 20vh;
        flex-direction: column;
        margin-left: 70px;
        height: 50vh;
        margin-bottom: 20px;
        
    }
    .current-weather-box{
        border: 1px solid white;
        background-color: rgba(24, 24, 27, 0.5);
        color: white;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 300px;
        /* height: auto; */
    }
    .current-weather-box .essential{
        display: flex;
        justify-content: space-around;
        padding: 5px;
        /* margin-right: 10px; */
    }

    .current-weather-box .weather-items{
        font-size: 20px;
        text-align: center;
        padding: 5px;
        flex: 1;
        max-width: 500px;
        
    }

    /* current weather cards */
    
    .section-grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        height: 120px;
        margin: 50px;
        justify-items: center;

        position: absolute;
        top: 43vh;
        right: 60px;
    }
    .section-grid .grid{
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgba(24,24,27,0.5);
        color: white;
        text-align: center;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* forcast weather section */

    .container-future-forcast .weather-today-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        background-color: rgba(24, 24, 27, 0.8);
        color: white;
        width: 400px;
        height: 200px;
        border-radius: 20px;
        border: 3px solid white;
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain{
        display: grid;
        grid-template-rows: .8fr .5fr;
        justify-content: center;
        align-items: center; 
        
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain img{
        width: 130px;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain p{
        text-align: center;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 10px;
        /* padding-right: 30px; */
        padding: 20px 30px 0 0;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today .day{
        font-size: 22px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 160px;
        height: 37px;
        text-align: center;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today p{
        font-size: 20px;
    }

    .container-future-forcast .future-forcast-grid{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    .container-future-forcast .future-forcast-grid .cards{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(24,24,27,0.8);
        color: white;
        width: 100%;
        height: 180px;
        /* padding: 0 20px; */
        border: 3px solid white;
        border-radius: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .day{
        margin-bottom: 7px;
        font-size: 20px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 100px;
        height: 28px;
        text-align: center;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content{
        padding: 6px 20px;
    }
}

/* responsive for pc or more width screen */

@media (min-width: 1031px) and (max-width: 1400px){

    .error-message{
        text-align: center;
        font-size: 30px;
        color: white;
    }

    .container-header{
        margin: 0;
        margin-bottom: 40px;
    }
    .header-main{
        height: 80px;
        color: whitesmoke;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .cloud{
        position: absolute;
        top: 24vh;
        right: 40px;
    }
    .header-search{
        height: 90px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content:flex-start
    }
    .input-search{
        flex: 4;
        max-width: 700px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 5px 0px 5px 20px;

        margin-left: 70px;
    }
    .button-search{
        flex: 1;
        height: 55px;
        max-width: 110px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: grey;

        margin-right: 110px;
    }
    .container-header .header-search .button-search:active{
        background-color: yellow;
        color: black;
        border: 1px dashed black;
    }
    .container-header .header-search .button-search::after{
        background-color: white;
        color: black;
        border: none;
    }

    /* current info date time */

    .current-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 200px;
        margin-bottom: 20px;
    }
    .city-name-header{
        margin-right: 40px;
    }
    .city-name-header #code{
        font-size: 30px;
    }
    .city-name-header .city-name{
        color: white;
        font-size: 40px;
        text-align: end;
    } 

    .date-time{
        color: white;
        margin-left: 100px;
    }
    .date-time .time{
        margin: 2px;
        font-size: 70px;
    }
    .date-time .date{
        font-size: 20px;
    }

    /* current weather dashboard */

    .current-weather-info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 40vh;
        flex-direction: column;
        margin-left: 150px;
        margin-top: 70px;
        margin-bottom: 10vh;

        position: relative;
    }
    .current-weather-box{
        border: 1px solid white;
        background-color: rgba(24, 24, 27, 0.5);
        color: white;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        padding:  20px 10px;
        width: 400px;
        height: 400px;
    }
    .current-weather-box .essential{
        display: flex;
        justify-content: space-between;
    }

    .current-weather-box .weather-items{
        font-size: 20px;
        text-align: center;
        padding: 10px;
        margin: 0 50px;
    }

    /* current weather cards */

    .section-grid{
        position: absolute;
        top: 55vh;
        right: 100px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        height: 120px;
        justify-items: center;
    }
    .section-grid .grid{
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgba(24,24,27,0.5);
        color: white;
        text-align: center;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* forcast weather section */

    .container-future-forcast {
        background-color: rgba(24, 24, 27, 0.8);
        color: white;
        display: flex;
        gap: 30px;
        height: 300px;
    }
    .container-future-forcast .weather-today-container{
        display: flex;
        align-items: center;
        text-align: center;
        flex: .5;
    }
    .container-future-forcast .weather-today-container #cards-today{
        flex: 1;
        display: flex;
        height: 250px;
        width: 100%;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain{
        display: grid;
        align-items: center;
        flex: 1;
        max-width: 200px;
        padding: 10px 0;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain img{
        width: 100%;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain p{
        font-size: 20px;
        font-weight: 600;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 50px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today .day{
        background-color: rgba(134, 129, 129, 0.5);
        font-size: 30px;
        margin-bottom: 10px;
        width: 150px;
        border-radius: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today p{
        font-size: 20px;
    }

    .container-future-forcast .future-forcast-grid{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards{
        flex: 1;
        border: 1px solid white;
        border-radius: 20px;
        text-align: center;
        height: 230px;
        max-width: 300px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content{
        height: 200px;
        flex-wrap: wrap;
        width: 100%;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .image-contain{
        display: grid;
        grid-template-columns: .3fr .5fr;
        justify-content: center;
        align-items: center;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-top: 16px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content .day{
        text-align: center;
        margin-bottom: 5px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 70px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .image-contain img{
        width: 100%;
    }

}

/* responsive max 1401px */

@media (min-width: 1401px){

    .error-message{
        text-align: center;
        font-size: 30px;
        color: white;
    }

    .container-header{
        margin: 0;
        margin-bottom: 40px;
    }
    .header-main{
        height: 80px;
        color: whitesmoke;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .cloud{
        position: absolute;
        top: 24vh;
        right: 100px;
    }
    .header-search{
        height: 90px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content:flex-start
    }
    .input-search{
        flex: 4;
        max-width: 700px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 5px 0px 5px 20px;

        margin-left: 70px;
    }
    .button-search{
        flex: 1;
        height: 55px;
        max-width: 110px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: grey;

        margin-right: 110px;
    }

    .container-header .header-search .button-search:active{
        background-color: yellow;
        color: black;
        border: 1px dashed black;
    }
    .container-header .header-search .button-search::after{
        background-color: white;
        color: black;
        border: none;
    }

    /* current info date time */

    .current-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 200px;
        margin-bottom: 20px;
    }
    .city-name-header{
        margin-right: 100px;
    }
    .city-name-header #code{
        font-size: 30px;
    }
    .city-name-header .city-name{
        color: white;
        font-size: 40px;
        text-align: end;
    } 

    .date-time{
        color: white;
        margin-left: 100px;
    }
    .date-time .time{
        margin: 2px;
        font-size: 70px;
    }
    .date-time .date{
        font-size: 20px;
    }

    /* current weather dashboard */

    .current-weather-info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 40vh;
        flex-direction: column;
        margin-left: 150px;
        margin-top: 70px;
        margin-bottom: 10vh;

        position: relative;
    }
    .current-weather-box{
        border: 1px solid white;
        background-color: rgba(24, 24, 27, 0.5);
        color: white;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        padding:  20px 10px;
        width: 400px;
        height: 400px;
    }
    .current-weather-box .essential{
        display: flex;
        justify-content: space-between;
    }

    .current-weather-box .weather-items{
        font-size: 20px;
        text-align: center;
        padding: 10px;
        margin: 0 50px;
    }

    /* current weather cards */

    .section-grid{
        position: absolute;
        top: 50vh;
        right: 100px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        height: 120px;
        justify-items: center;
    }
    .section-grid .grid{
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgba(24,24,27,0.5);
        color: white;
        text-align: center;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* forcast weather section */

    .container-future-forcast {
        background-color: rgba(24, 24, 27, 0.8);
        color: white;
        display: flex;
        gap: 30px;
        height: 300px;
    }
    .container-future-forcast .weather-today-container{
        display: flex;
        align-items: center;
        text-align: center;
        flex: .5;
    }
    .container-future-forcast .weather-today-container #cards-today{
        flex: 1;
        display: flex;
        height: 250px;
        width: 100%;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain{
        display: grid;
        align-items: center;
        flex: 1;
        max-width: 200px;
        padding: 10px 0;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain img{
        width: 100%;
    }
    .container-future-forcast .weather-today-container #cards-today .image-contain p{
        font-size: 20px;
        font-weight: 600;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 50px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today .day{
        background-color: rgba(134, 129, 129, 0.5);
        font-size: 30px;
        margin-bottom: 10px;
        width: 150px;
        border-radius: 20px;
    }
    .container-future-forcast .weather-today-container #cards-today .content-today p{
        font-size: 20px;
    }

    .container-future-forcast .future-forcast-grid{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .container-future-forcast .future-forcast-grid .cards{
        flex: 1;
        border: 1px solid white;
        border-radius: 20px;
        text-align: center;
        height: 230px;
        max-width: 300px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content{
        height: 200px;
        flex-wrap: wrap;
        width: 100%;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .image-contain{
        display: grid;
        grid-template-columns: .3fr .5fr;
        justify-content: center;
        align-items: center;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-top: 16px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .content .day{
        text-align: center;
        margin-bottom: 5px;
        background-color: rgba(134, 129, 129, 0.5);
        border-radius: 20px;
        width: 70px;
    }
    .container-future-forcast .future-forcast-grid .cards .container-content .image-contain img{
        width: 100%;
    }

}


